apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend
  namespace: dev
  annotations:
    cert-manager.io/cluster-issuer: local-selfsigned
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - api-dev.local
      secretName: backend-dev-tls
  rules:
    - host: api-dev.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 80
